.HeaderTop {
  color: #fff;
  margin: 40px 16px;
  line-height: 3rem;
}
.HeaderTop button {
  border: none;
  margin: 10px 0px;
  padding: 8px 18px;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #1072c0;
  transition: 0.3s;
  cursor: pointer;
}
.HeaderTop button:hover {
  background-color: #1071c09f !important ;
}
